# First-time setup:
# Copy to .env (cp env.example .env)
# Replace <YOUR-BOT-TOKEN> with the Discord Bot Token ( see: https://discord.com/developers/applications )
DISCORD_MOD_BOT_TOKEN="<YOUR-BOT-TOKEN>"


